{% extends 'base.html' %}

{% block title %}Home - SQL Interface{% endblock %}
<body>
  {% block content %}
    <h3>Data Dictionary</h3>
    <form action="/data_dict" method="POST">
        <label for="table">Select Table:</label>
        <select name="table" id="table">
            {% for table in table_names %}
            <option value="{{ table }}">{{ table }}</option>
            {% endfor %}
        </select>
        <br>
        <input type="submit" value="Submit">
    </form>
    {% if data %}
    <table class="table">
        <tr>
            <th>Variable Name</th>
            <th>Variable Label</th>
            <th>Description</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row['Variable Name'] }}</td>
            <td>{{ row['Variable Label'] }}</td>
            <td>{{ row['Description'] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</body>
{% endblock %}
