{% extends 'base.html' %}

{% block title %}Home - SQL Interface{% endblock %}
<body>
  {% block content %}
  <h3>Rechec SQL App</h3>
  <p> The database below is a POSTGRES database. Due to the memory limitations on this application, please limit all your query returns to 100 rows.</p>
  <br
  <p>There are three tables to query:</p>
  <ul>
    <li>qc_consumer_price_indices_hti</li>
    <li>infrastructure_hti</li>
    <li>producer_prices_hti</li>
  </ul>
  <form method="post">
    <label for="input_type">Input Type:</label>
    <select name="input_type" id="input_type">
      <option value="sql">SQL Code</option>
      <option value="question">Question</option>
    </select>
    <br>
    <label for="input_text">Input Text:</label>
    <br>
    <textarea name="input_text" id="input_text" rows="5" cols="50"></textarea>
    <br>
    <input type="submit" value="Submit">
  </form>
  {% if results %}
    <h2>Results:</h2>
    <p>Input Text: {{ input_text }}</p>
    <p>Generated SQL: {{ sql }}</p>
    <table class="table">
      <thead>
        <tr>
          {% for column in results[0].keys() %}
            <th>{{ column }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in results %}
          <tr>
            {% for value in row.values() %}
              <td>{{ value }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
  {% endblock %}
</body>