{% extends 'base.html' %}

{% block title %}Home - SQL Interface{% endblock %}
<body>
  {% block content %}
  <h3>Rechec SQL App</h3>
  <p> The database below is a POSTGRES database. Due to the memory limitations on this application, please limit all your query returns to 100 rows.</p>
  <h4>AI Data Helper</h4>
  <p>If you do not know how to write SQL, you can select the question option below and write a question, the AI will try it's best to give you answer.</p>
  <br
  <p>There are the following tables to query:</p>
  <ul>
    <li>qc_consumer_price_indices_hti</li>
    <li>infrastructure_hti</li>
    <li>producer_prices_hti</li>
  </ul>
  <form method="post">
    <label for="input_type">Input Type:</label>
    <select name="input_type" id="input_type">
      <option value="sql">SQL Code</option>
      <option value="question">Question</option>
    </select>
    <br>
    <label for="input_text">Input Text:</label>
    <br>
    <textarea name="input_text" id="input_text" rows="5" cols="50"></textarea>
    <br>
    <input type="submit" value="Submit">
  </form>
  {% if results %}
    <h2>Results:</h2>
    <p>Input Text: {{ input_text }}</p>
    <p>Generated SQL: {{ sql }}</p>
    <table class="table">
      <thead>
        <tr>
          {% for column in results[0].keys() %}
            <th>{{ column }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in results %}
          <tr>
            {% for value in row.values() %}
              <td>{{ value }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
  {% if ai_result %}
    <h2>AI Response:</h2>
    <p>Input Text: {{ input_text }}</p>
    <br>
    <p>AI Response: {{ai_result}}</p>
    <h2>AI Steps:</h2>
    {% for item in data %}
        {% if item is mapping %}
            <h2>Step {{ loop.index }}:</h2>
            <ul>
                {% for key, value in item.items() %}
                    {% if key == 'table_info' %}
                        <h3>{{ key }}</h3>
                        <table>
                            {% for table_row in value.split('\n') %}
                                {% if table_row %}
                                    {% if loop.first %}
                                        <tr>
                                            {% for table_header in table_row.split('\t') %}
                                                <th>{{ table_header }}</th>
                                            {% endfor %}
                                        </tr>
                                    {% else %}
                                        <tr>
                                            {% for table_data in table_row.split('\t') %}
                                                <td>{{ table_data }}</td>
                                            {% endfor %}
                                        </tr>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </table>
                    {% else %}
                        <li><strong>{{ key }}:</strong> {{ value }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% else %}
            <p>{{ item }}</p>
        {% endif %}
    {% endfor %}

  {% endif %}
  {% endblock %}
</body>