{% extends 'base.html' %}

{% block title %}SQL Error{% endblock %}
<body>
  {% block content %}
    <h1>SQL Questions</h1>
    <h3>Question 1</h3>
    <p>Which states has the highest prevalence of chronic conditions?</p>
    
    <h3>Question 2</h3>
    <p>Which provider has the highest MIPS score? (Return a table with the physician name and the state they live in)</p>

    <h3>Question 3</h3>
    <p>Which providers have the highest MIPS score in each territory and state? (Return a table with the physician name)</p>
    {% endblock %}
</body>
